.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 41px;
}

@media (max-width: 900px) {
  .header__logo {
    padding-bottom: 0;
  }
}

@media (max-width: 580px) {
  .header__logo {
    width: 103.7px;
    height: 24.4px;
  }
}
