.login__input {
  margin-bottom: 30px;
  background-color: #000;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding-bottom: 13px;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
}
