.popup__button-close {
  background-image: url(../../../images/Close-Icon.svg);
  transition: opacity .5s ease;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: .6;
}

@media (max-width: 520px) {
  .popup__button-close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
