.auth__link {
  margin-top: 15px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: background-color .5s ease;
}

.auth__link:hover {
  opacity: .6;
}

@media (max-width: 580px) {
  .auth__link {
    margin-top: 20px;
  }
}
