.card {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
  list-style: none;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}