.auth__input {
  margin-bottom: 30px;
  background-color: #000;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding-bottom: 13px;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
}

@media (max-width: 580px) {
  .auth__input {
    width: 260px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

