@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
/*header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__login/header__login.css);
/*profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
/*popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__button-submit/popup__button-submit.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__container-photo/popup__container-photo.css);
@import url(./blocks/popup/__photo-open/popup__photo-open.css);
@import url(./blocks/popup/__photo-title/popup__photo-title.css);
@import url(./blocks/popup/_type/popup_type_photo-full.css);
@import url(./blocks/popup/__button-submit/_inactive/popup__button-submit_inactive.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__error-description/popup__error-description.css);
@import url(./blocks/popup/__error-link/popup__error-link.css);
@import url(./blocks/popup/__error-name/popup__error-name.css);
@import url(./blocks/popup/__error-place/popup__error-place.css);
@import url(./blocks/popup/__error-avatar/popup__error-avatar.css);
@import url(./blocks/popup/__title/_delete-card/popup__title_delete-card.css);
@import url(./blocks/popup/__container-tooltip/popup__container-toopltip.css);
@import url(./blocks/popup/__tooltip-pic/popup__tooltip-pic.css);
@import url(./blocks/popup/__tooltip-title/popup__tooltip-title.css);

/*elements*/
@import url(./blocks/cards/cards.css);
/*card*/
@import url(./blocks/card/card.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__photo/card__photo.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like-count/card__like-count.css);
@import url(./blocks/card/__footer/card__footer.css);
@import url(./blocks/card/__delete/card__delete.css);
/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/*login*/
@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__button-submit/login__button-submit.css);
/*registration*/
@import url(./blocks/registration/registration.css);
@import url(./blocks/registration/__title/registration__title.css);
@import url(./blocks/registration/__input/registration__input.css);
@import url(./blocks/registration/__form/registration__form.css);
@import url(./blocks/registration/__button-submit/registration__button-submit.css);
@import url(./blocks/registration/__link/registration__link.css);


@import url(./blocks/preloader/preloader.css);