.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .header {
    padding: 28px 0 31.6px 27px;
  }
}
