.popup__container-photo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;
  height: auto;
  border-radius: 0px;
  background-color: transparent;
}

@media (max-width: 520px) {
  .popup__container-photo {
    width: 282px;
  }
}