.header__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 5px;
  margin-left: 24px;
  width: 56px;
  height: 22px;
  cursor: pointer;
  transition: background-color .5s ease;
}

.header__button:hover {
  opacity: .6;
}

@media (max-width: 580px) {
  .header__button {
    margin: 0 0 40px;
  }
}